<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
       
     <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>
	
	<!-- 반환되는 값에 대한 자료형 별칭 선언 -->
	<typeAliases>
				<!-- 회원 -->
		<typeAlias type="com.dohwaji.app.member.dao.MemberBean" alias="memberBean"/>
		<typeAlias type="com.dohwaji.app.member.dao.LoginBean" alias="loginBean"/>
		
		<!-- 게시글 -->
		<typeAlias type="com.dohwaji.app.bbs.dao.BbsBean" alias="bbsBean"/>
		<typeAlias type="com.dohwaji.app.bbs.dao.BbsFilesBean" alias="bbsFilesBean"/>
		<typeAlias type="com.dohwaji.app.bbs.dao.BbsReplyBean" alias="bbsReplyBean"/>
		<typeAlias type="com.dohwaji.app.bbs.dao.ReplyLikeBean" alias="replyLikeBean"/>
		
		
		<!-- 신고 -->
		<typeAlias type="com.dohwaji.app.report.dao.ReportBean" alias="reportBean"/>
		
	</typeAliases>
	
	 <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver"   value="org.mariadb.jdbc.Driver" />
                <property name="url"      value="jdbc:mariadb://localhost:3307/hr2" />
                <property name="username" value="root" />
                <property name="password" value="1234" />
            </dataSource>
        </environment>
    </environments>
	
	<!--  쿼리문이 들어가 있는 xml 파일 목록 -->
	<mappers>
		
		
		<mapper resource="com/dohwaji/sql/member.xml"/>
		<mapper resource="com/dohwaji/sql/bbs.xml"/>
		<mapper resource="com/dohwaji/sql/bbsFiles.xml"/>
		<mapper resource="com/dohwaji/sql/bbsReply.xml"/>
		<mapper resource="com/dohwaji/sql/report.xml"/>
	</mappers>
	
</configuration>
